Checks: >
  -*,
  modernize-use-nullptr,
  readability-implicit-bool-conversion

WarningsAsErrors: >
  modernize-use-nullptr,
  readability-implicit-bool-conversion

CheckOptions:
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: false
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: true
